@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html, body {
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #4999FF;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --white-color: #fff;
    --label-color-1: #707070;
    --container-border-color: #BAD8FF;
    --container-bg-color: #EFF6FF;
    --placeholder-color: #D2D2D2;
}

.logo {
	float: left;
}

b.boldColor {
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

b.boldColor-White {
	font-size: 18px;
	font-weight: bold;
	color: white;
}

/*  Top Navigation Bar  */

#navigation-container {
	width: 100%;
	position: sticky;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	height: 70px;
}

.navigation-bar {
	background-image: linear-gradient(to right, #2CABFF, #9F22E6);
	height: 70px;
	width: 100%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	text-align: right;
}

.navigation-bar img {
	float: left;
}

.navigation-bar ul {
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.navigation-bar li {
	list-style-type: none;
	padding: 0px;
	display: inline;
}

.navigation-bar li a {
	color: white;
	font-size: 16px;
	text-decoration: none;
	line-height: 70px;
	padding: 5px 15px;
}

.navigation-bar li i {
	display: none;
}

.navigation-bar li a:hover {
	font-weight: 800;
	color: rgb(209, 209, 209);
}

#menu {
	float: right;
}

* {
	box-sizing: border-box;
}

/* Floating Notes Button */

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	color: #fff;
	background-color: #9F22E6;
	border-radius: 50px;
	text-align: center;
	box-shadow: 0px 0px 8px #a3a3a367;
}

.my-float {
	margin-top: 20px;
	font-size: 22px;
}

.tooltiptext {
	visibility: hidden;
	width: 120px;
	margin-top: 22px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -5px;
	right: 110%;
}

.tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent black;
}

.float:hover .tooltiptext {
	visibility: visible;
}

.float:hover, .float:focus {
	color: #000;
	box-shadow: 0px 0px 5px #999;
	background-color: rgb(187, 187, 187);
	text-decoration: none;
	cursor: pointer;
}



.card:hover .overlay {
	opacity: 1;
}


/* Modal*/

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 13%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	border: 1px solid #888;
	width: 50%;
}

/* The Close Button */

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* Input Section */

.box {
	height: 100%;
	align-self: center;
	margin-top: 4%;
	justify-content: center;
	align-items: stretch;
}

.box-form{
	margin-left: 30%;
	margin-right: 30%;
}

.input-group2 {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.input-group3 {
    display: flex;
    align-items: center;
}

.input-group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.custom-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    color: var(--label-color-1);
}

/* Custom Textfield */
.custom-textfield {
    padding: 12px;
    font-size: 14px;
    background-color: var(--white-color);
    border: 1px solid var(--container-border-color);
    color: var(--label-color-1);
    cursor: text;
    width: 100%;
    border-radius: 4px;
    outline: none;
}

.custom-textfield::placeholder {
    color: var(--placeholder-color);
}

.custom-textfield:focus {
    border: 1px solid var(--primary-color);
}

/* Custom Dropdown */
.custom-dropdown {
    position: relative;
    width: 100%;
}

.custom-dropdown select {
    padding: 12px;
    font-size: 14px;
    background-color: var(--container-bg-color);
    border: 1px solid var(--container-border-color);
    color: var(--label-color-1);
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23707070' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;
    outline: none;
}

.custom-dropdown select option {
    background: var(-);
    color: var(--label-color-1);
}

.custom-dropdown select:focus {
    border: 1px solid var(--primary-color);
}

/* Custom Button */
.custom-button {
    width: 100%;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(to right, #2EA9FF, #9E24E7);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.custom-button:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}



/* card section */

.card-section {
	max-width: 790px;
	margin: 0 auto;
}

.units-heading {
	text-align: center;
	width: 100%;
	align-content: center;
	margin-top: 6%;
	font-weight: bold;
	font-size: 16.5px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.cards_item {
	display: flex;
	padding: 10px;
}

.card {
	width: 140px;
	height: 160px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #2CABFF;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 8% 8%;
}

.card:hover {
	box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.329);
}

/* Cards Units Heading Label */

.UnitsLabel {
	margin-top: 20%;
	font-size: 18px;
	font-weight: 500;
	color: white;
}


/* XD Plugin Download Banner */

div.banner {
	width: 90%;
	height: 170px;
	clear: both;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10%;
	padding-left: 10%;
	display: flex;
	flex-flow: row;
	flex-grow: 1;
}

.figma {
	margin-top: 50px;
	background: #feffd8;
	border: 3px solid #000000;
}

.xd {
	margin-top: 20px;
	background: #2E001F;
}

.app {
	margin-top: 20px;
	background: #18957E;
}



/* Banner Items */

.banner-img {
	display: block;
	width: 70px;
	height: 70px;
	align-self: center;
}

.banner-desc {
	width: 65%;
	display: block;
	margin-top: 48px;
	margin-left: 5%;
}

.btnDownload {
	width: 180px;
	height: 50px;
	margin-left: 15%;
	margin-top: 60px;
	border-radius: 25px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background: none;
}

.btnDownload:active {
	background: rgb(187, 187, 187);
	color: white;
	border: none;
}

.btnDownloadXD {
	border: 2px solid #F033C2;
}

.btnDownloadXD:hover {
	background: #F033C2;
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.137);
}

.btnDownloadAndroid {
	border: 2px solid #3DDC84;
}

.btnDownloadAndroid:hover {
	background: #3DDC84;
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.137);
}

.btnDownloadFigma {
	color: #5551ff;
	border: 2px solid #5551ff;
}

.btnDownloadFigma:hover {
	color: #ffffff;
	background: #5551ff;
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.137);
}

/* Footer Section */

.footer {
	float: left;
	clear: both;
	margin-top: 20px;
	left: 0;
	bottom: 0;
	width: 100%;
	color: gray;
	text-align: center;
}

.p-footer {
	font-size: 18px;
	font-weight: 500;
	color: gray;
}

.a-footer {
	font-weight: 600;
	color: #2CABFF;
}

.mylove {
	margin-top: -10px;
	font-size: 20px;
	animation: .8s infinite spreadLove;
}

@keyframes spreadLove {
	0% {
		transform: scale( .75);
	}
	20% {
		transform: scale( 1);
	}
	40% {
		transform: scale( .75);
	}
	60% {
		transform: scale( 1);
	}
	80% {
		transform: scale( .75);
	}
	100% {
		transform: scale( .75);
	}
}