/* Screens Resolution : 940px
-------------------------------------------------------------------------- */
@media screen and (max-width: 940px) {
	/* Plugin & App Banner */
	.banner-desc {
		margin-top: 35px;
	}
	.btnDownload {
		margin-left: 5%;
	}
	
	.box-form{
		margin-top: 10%;
		margin-left: 15%;
		margin-right: 15%;
	}

}


/* Screens Resolution : 750px
-------------------------------------------------------------------------- */
@media screen and (max-width: 750px) {
	/* Plugin & App Banner */
	div.banner {
		height: 300px;
		clear: none;
		display: table;
	}
	.banner-img {
		display: block;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	.banner-desc {
		width: auto;
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		padding-left: 5%;
		padding-right: 5%;
	}
	.btnDownload {
		display: block;
		margin-top: 30px;
		margin-bottom: 20px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	/* Modal */
	.modal-content {
		width: 70%;
	}
}


/* Screens Resolution : 500px
-------------------------------------------------------------------------- */
@media screen and (max-width: 500px) {
	/* TODO: , code logic,  */
	/* Navigation Bar */
	.navigation-bar li a {
		font-size: 14px;
		padding: 0px 10px;
	}
	.navigation-bar ul {
		padding: 0px;
		margin: 1% 0 0 0;
		text-align: right;
	}
	.navigation-bar li i {
		display: inline-block;
	}
	.navigation-bar li b {
		display: none;
	}


	/* Cal Div */
	.cal-div {
		width: 250px;
	}

	.cal-child {
		margin-top: 8%;
	}

	.dropdown{
		width: 150px;
	}
	.dpi{
		width: 210px;
		margin-left: 0px;
		margin-top: 3%;
	}
	.units{
		width: 120px;
		margin-left: 3px;
	}


	input.EdtText {
		margin-top: 3%;
		margin-left: 0px;
	}
	.EdtDpi{
		display: none;
		width: 30%;
	}
	.EdtValue{
		width: 45%;
	}
	.EdtRoot {
		width: 100%;
	}
	

    .units-heading {
		margin-top: 12%;
	}


	/* Footer */
	.footer,.p-footer {
		font-size: 14px;
	}
}